@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid px-5">
    <h1>Record Shack</h1>
    <p class="lead">Welcome to Record Shack. A content management system that allows users to view and comment on their favourite records while admin users allow content to remain accurate and up to date, and moderators monitor comments posted.</p>
    <p>@Html.ActionLink("Learn more >", "About", "Home", new { @class = "btn btn-primary btn-lg" }) </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Getting started</h2>
                <p class="card-text">
                    Register as a new user or use existiting user logins (admin and mod) to start playing around with the web application!
                </p>
                
            </div>
            <div class="card-footer mx-0">
                <p>@Html.ActionLink("Register new account >", "Register", new { controller = "Account"}, new { @class = "btn btn-outline-primary"})</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Interact With Content</h2>
                <p class="card-text">
                    Search records and view information about them,
                    post comments and ratings or login as an admin to play around with admin controls.
                </p>
                
            </div>

            <div class="card-footer">
                <p>@Html.ActionLink("View Records >", "List", new { controller = "Record    "}, new { @class = "btn btn-outline-primary"})</p>
            </div>
        </div>
        
    </div>


    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Application Source</h2>
                <p class="card-text">
                    View this and other application's source code on my GitHub page!
                </p>
            </div>

            <div class="card-footer">
                <p><a href="https://github.com/chadwinjdeysel/RecordShack.git" class="btn btn-outline-primary">View Source on GitHub ></a></p>
            </div>
        </div>

    </div>
</div>