@model IEnumerable<RecordShack.Models.tblGenre>


    <div class="dropdown-menu">
        @foreach (var genre in Model)
        {
            @Html.ActionLink(genre.GenreName, "Details", new { controller = "Genre", id = genre.GenreID }, new { @class = "dropdown-item" })
        }
    </div>

